<!-- partial-home.html -->
<div class="row">
<div class="jumbotron text-center">
    <h1>The Homey Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>    
</div>
    <h5>
    <code>$state.go(to [, toParams] [, options])</code>
    </h5>
    <p>Returns a <strong>Promise</strong> representing the state of the transition.</p>
    <p>Convenience method for transitioning to a new state. <code>$state.go</code> calls <a href="https://github.com/angular-ui/ui-router/wiki/#wiki-statetransitiontoto--toparams--updatelocationoptions"><code>$state.transitionTo</code></a> internally but automatically sets options to <code>{ location: true, inherit: true, relative: $state.$current, notify: true }</code>. This allows you to easily use an absolute or relative <code>to</code> path and specify only the parameters you'd like to update (while letting unspecified parameters inherit from the current state.</p>

</div>

