<div class="row" id="content">

  <!--sidebar -->

    <div class="medium-3 columns">
      <h3 class="user-details-header">User List</h3>
        <ul class="list-group">
          
          <li ng-repeat="user in users | limitTo:limit" class="list-group-item" ui-sref-active="active" >
            <a ui-sref="users.details({id:user.id})">
              {{user.login}}
               </a>
            </li>
        </ul>


        <div class="text-center">
          <div class="loading-button">
            <button type="button" class="primary button" ng-click="loadMore()" data-loading-start>
              Load More
            </button>
          </div> <!-- refresh -->
        </div>

  </div>

  <!--profile-->
  <div class="medium-9 columns Prelat">
    <div ui-view="details">
      <i>Some content will load here!</i>
    </div>
  </div>
</div>