<div class="users-details row">
  <div class="large-12 columns">
    <h3 class="users-details-header">User Info</h3>
    <div class="users-details-wrapper">
      <img class="users-details-headshot" src="{{userDetails.avatar_url}}" alt="headshot">
    </div>
  </div>

  <div class="large-12 columns">
    <div class="user-title row">
      <div class="large-2 columns">
        <h5><strong>Name :</strong></h5>
        <label></label>
      </div>
      <div class="large-10 columns">
        <h5><strong>{{userDetails.name}}</strong></h5>
      </div>
    </div>

      <div class="users-details-spacing">
        <div class="large-12 columns"><i>ID : </i><span>{{userDetails.id}}</span></div>
        <div class="large-12 columns"><i>Email : </i><span>{{userDetails.email}}</span></div>
        <div class="large-12 columns"><i>Created at :</i> <span>{{userDetails.created_at | date}}</span></div>
        
      </div>
    </div>
</div>