<!-- partial-home.html -->

<div class="row">
<div class="jumbotron text-center">
    <h1>About Us Page</h1>
    <p>This page demonstrates <span class="text-danger">nested</span> views.</p>  
</div>
    <h3>State Manager</h3>  
    <p>The new <code>$stateProvider</code> works similar to Angular's v1 router, but it focuses purely on state.</p>
         <ul>
        <li>A state corresponds to a "place" in the application in terms of the overall UI and navigation.</li>
        <li>A state (via the controller / template / view properties) describes what the UI looks like and does at that place.</li>
        <li>States often have things in common, and the primary way of factoring out these commonalities in this model is via the state hierarchy, i.e. parent/child states aka nested states.</li>
        </ul>
        </div>
