<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title ng-bind="$state.current.data.pageTitle"></title>
    <link rel="stylesheet" href="/dist/styles/main.css">
    <base href="/">
</head>
<body>

<nav ng-controller="headerCtrl" class="top-bar topbar-responsive hover-underline-menu" data-menu-underline-from-center>
  <div class="row">
  <div class="top-bar-title">
    <a class="topbar-responsive-logo" href="./">
<img src="/dist/images/github-character.svg" id="brand" alt="Kiwi standing on oval">
    <strong>{{siteTitle}}</strong></a>
    <span ng-bind="$state.current.data.pageTitle"></span>
  </div>
  <div id="topbar-responsive" class="topbar-responsive-links">
    <div class="top-bar-right">
      <ul class="menu align-center">
        <li><a ng-class="{active:$state.includes('home')}" ui-sref="home">Home</a></li>
        <li><a ng-class="{active:$state.includes('users')}" ui-sref="users">Users</a></li>
        <li><a ng-class="{active:$state.includes('about')}" ui-sref="about">About</a></li>
        </ul>
    </div>
  </div>
  </div>
</nav>

<div class="animations fade-in" ui-view></div>

</body>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-animate.min.js"></script>
    <script type="text/javascript" src="/dist/scripts/main.js"></script>
</html>