@import "../../node_modules/main-bower-files/bower_components/foundation-sites/dist/css/foundation.min.css";
@import "component/_header";
@import "component/_sidebar";
@import "component/_profile";

body {
	background: #fff;
}
a {
	color:#112b67;
	transition:all 0.3s ease;
	outline: none;
	&:hover {
		transition:all 0.3s ease;
		outline: none;
	}
	&:focus {
		color:#112b67;
		transition:all 0.3s ease;
		text-decoration: none;
		outline: none;
	}
}