
.users-details-spacing {
  margin-bottom: 2rem;
}

.users-details-wrapper {
  padding: 1rem 4rem;
  text-align: center;
}

.users-details-headshot {
  margin-bottom: 1rem;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.user-details-header {
    text-transform: uppercase;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #e6e6e6;
    font-weight: 700;
    margin-bottom: 1rem;
    font-size: 1em;
}
.users-details-contact-info {
  margin-bottom: 0.75rem;
}

.users-details-contact-info a {
  color: #0a0a0a;
}

.users-details-contact-info .fa {
  font-size: 1.4rem;
  padding-right: 0.8rem;
  vertical-align: middle;
  color: #0a0a0a;
}

.user-title {
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    padding: 1rem 0;
    margin-bottom:20px;
}


/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.ui-view-container {
  position: relative;
  height: 65px;
}

[ui-view].ng-enter, {
	transition:all .5s  ease-in-out;
}

[ui-view].ng-leave {
	transition:all 0s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1; 
}

[ui-view].ng-leave-active {
  opacity: 0;
}
