
.list-group {
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
  padding: 0;
    margin: 0;
}

.list-group > :last-child {
  margin-bottom: 0;
}

.list-group-item {
  padding: 0;
  border-bottom: 1px solid #e6e6e6;
  a {
      padding: 0.5em 1em;
      display: block;
  }
}


.list-group-item > :last-child {
  margin-bottom: 0;
  border-bottom: none;
}

.list-group-item.active {
  color: #fefefe;
  background-color: #21bda2;
  border-color: 1px solid #21bda2;
    a {
    color:#fff;
  }
}

.list-group-item:hover, .list-group-item:focus {
  background-color: #2c3840;
  a {
    color:#fff;
  }
}

.list-group-item:hover.active, .list-group-item:focus.active {
  background-color: #21bda2;

}

.list-group-item.disabled, .list-group-item.disabled:hover, .list-group-item.disabled:focus, .list-group-item[disabled], .list-group-item[disabled]:hover, .list-group-item[disabled]:focus {
  color: #2c3840;
  cursor: not-allowed;
  background-color: #fefefe;
}


.loading-button {
  margin-top:20px;
}
.loader {
  display: inline-block;
  margin-top: -9px;
}